<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div id="sidebar-wrapper" [ngClass]="{ 'toggled': isSidebarOpen }">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="#">
          <img src="assets/VerifactsLogoBlanco.png" alt="VeriFacts Logo" class="sidebar-logo">
        </a>
      </li>
      <li>
        <a href="#" (click)="selectTab('verified')">Verified Headlines</a>
      </li>
      <li>
        <a href="#" (click)="selectTab('related')">Related Searches</a>
      </li>
    </ul>
  </div>  

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <app-header (toggleSidebar)="toggleSidebar()"></app-header>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-8 text-center">
          <h1 class="mb-4">Verify a news Headline</h1>
          <form (ngSubmit)="predictHeadline()" class="mb-3 rounded-lg p-4">
            <div class="input-group">
              <input type="text" [(ngModel)]="headline" name="headline" class="form-control" placeholder="Enter a news headline" required>
              <button type="submit" class="btn btn-primary">Verify</button>
            </div>
          </form>
          <ng-container *ngIf="prediction !== null">
            <div *ngIf="prediction" [@fadeIn] class="card mt-4">
              <div #headlineHistory class="card-body">
                <h1 class="card-title">Prediction</h1>
                <h2 class="card-text">{{ prediction }}</h2>
                <div class="mt-3">
                  <h6 class="text-start mb-0">Certainty</h6>
                  <div class="progress mt-1">
                    <div class="progress-bar" role="progressbar"
                         [style.width.%]="certainty ? certainty * 100 : 0"
                         [attr.aria-valuenow]="certainty ? certainty * 100 : 0"
                         aria-valuemin="0" aria-valuemax="100"
                         [ngClass]="{'progress-bar-clickbait': prediction === 'Clickbait', 'progress-bar-non-clickbait': prediction === 'Non-clickbait'}">
                      {{ certainty ? (certainty * 100).toFixed(2) : 0 }}%
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>      
        </div>
      </div>
      <div class="mb-3 col-12 text-center">
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade" 
               [ngClass]="{ 'show active': selectedTab === 'verified' }" 
               id="verified" role="tabpanel" aria-labelledby="verified-tab">
            <app-verified-headlines
              [entries]="entries"
              [showVerifiedHeadlines]="showVerifiedHeadlines">
            </app-verified-headlines>
          </div>
          
          <div class="tab-pane fade" [ngClass]="{ 'show active': selectedTab === 'related' }" 
              id="related" role="tabpanel" aria-labelledby="related-tab">
            <app-related-searches
              [factCheckResults]="factCheckResults">
            </app-related-searches>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
