.custom-navbar {
    background-color: #88c1ff; /* Azul */
    border: 2px solid black; /* Bordes negros */
    border-radius: 2px; /* Bordes redondeados */
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  
  .navbar-brand .logo {
    margin-right: 10px;
    max-width: 50px;
  }
  
  .navbar-nav .nav-link {
    color: white; /* Color de texto blanco */
  }
  
  .navbar-nav .nav-link:hover {
    color: #cce5ff; /* Color de texto al pasar el ratón */
  }
  
  .navbar-toggler {
    border-color: white; /* Color del borde del botón de toggler */
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  