<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container-fluid justify-content-between">
    <button class="btn btn-primary" (click)="onToggleSidebar()">
      <i class="fas fa-bars"></i>
    </button>

    <a class="navbar-brand ms-auto" href="#">
      <img src="assets/VerifactsLogo.png" alt="VeriFacts Logo" class="img-fluid logo">
      VeriFacts
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
