.progress {
    height: 20px;
}
  
.progress-bar-non-clickbait {
  background-color: #007bff;
}

.progress-bar-clickbait {
  background-color: #dc3545 ;
}
  
.logo img {
  max-width: 100px;
  margin-bottom: 20px;
}
  
img.img-fluid {
  max-width: 5%;
  height: auto;
}

.card-link {
  text-decoration: none;
}

.container {
  margin-top: 10px;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  margin-right: 10px;
}

body {
  background-color: #d7ebff; /* Cambia este valor al color deseado */
}

@keyframes fillAnimation {
  0% {
    width: 0%;
  }
}

.progress-bar {
  animation: fillAnimation 1s ease-out;
}

.text-muted {
  color: #6c757d;
}

.card-hover:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

.card-container {
  width: 100%;
}

.card-link {
  display: block;
  width: 100%;
}

.custom-card {
  border: 1px solid #dee2e6;
  border-radius: 10px;
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.custom-card:hover {
  border-width: 4px;
  border-color: rgba(0, 0, 0, 0.2);
}

.card-link {
  text-decoration: none;
  color: inherit;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-subtitle {
  font-size: 1rem;
  font-weight: bold;
}

.card-text {
  font-size: 0.875rem;
}

.card-body {
  padding: 1.5rem;
}

/* Sidebar */
#wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar-wrapper {
  min-height: 100vh;
  width: 250px;
  margin-left: -250px;
  transition: all 0.3s ease-out;
  background: #404040;
  color: white;
}

#sidebar-wrapper.toggled {
  margin-left: 0;
}

.sidebar-logo {
  width: 100px;
  height: auto;
  margin: 10px;
  transition: transform 0.3s ease-in-out;
}

.sidebar-logo:hover {
  transform: scale(1.1);
}

.sidebar-nav li:not(.sidebar-brand) a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, border-radius 0.5s ease-in-out;
  color: #ffffff;
}

.sidebar-nav li:not(.sidebar-brand) a:hover {
  transform: scale(1.1);
  background-color: #f8f9fa;
  color: #000000;
  border-radius: 10px;
}

.sidebar-nav {
  list-style: none;
  padding: 0;
}

.sidebar-nav li {
  padding: 10px 20px;
}

.sidebar-nav li a {
  color: white;
  text-decoration: none;
}

#page-content-wrapper {
  width: 100%;
  padding: 20px;
}

#menu-toggle {
  margin: 20px;
}

.red-text {
  color: red;
  font-weight: bold;
}

.green-text {
  color: green;
  font-weight: bold;
}

.orange-text{
  color: orange;
  font-weight: bold;
}

